<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
                http://www.springframework.org/schema/beans     
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context.xsd">
 
	<import resource="hsqldb.xml"/>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    
        <property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties" ref="hibernateProperties"/>
        <property name="packagesToScan" value="cbmarc.restorder.shared.model"/>
        
    </bean>
	
	<context:component-scan base-package="cbmarc.restorder.server.dao"/>
	
</beans>